.wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    left: 0;
  }
  
  .primo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    /* filter:  sepia(0.3) brightness(90%); */
    z-index: 3;
    transition: background-image 0.5s ease ;
  
  }
  
  .secundo {
    height: 35vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background-position: center;
    position: relative;
    margin: 0;
  }
  
  .web {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 30px;
  }


  .ele{
    background-image: url("/1a.png");
    height: 150px;
    width: calc((100vw - 180px)  / 3);;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    z-index: 3;
  }
  


  @media (max-width: 850px) {
    .secundo h2{font-size:smaller !important;
      max-width:70%;
      margin-top: -30px;
    } 
      .ele{
        height:100px
      }
  }