.wrap {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    left: 0;
  }
  
  .primo {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    /* filter:  sepia(0.3) brightness(90%); */
    z-index: 3;
    transition: background-image 0.5s ease ;
  
  }
  
  .secundo {
    height: 35vh;
    width: 100vw;
    /* background: white; */
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-position: center;
    position: relative;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .web {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 30px;
    /* width:100%; */
    height:auto !important;
  }


  .ele{
    background-image: url("/1a.png");
    height: 150px;
    width: calc((100vw - 180px)  / 3);;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    z-index: 2;
  }
  


  @media (max-width: 850px) {
    .secundo h2{font-size:smaller !important;
      max-width:70%;
      /* margin-top: -30px; */
    } 
      .ele{
        height:100px
      }
  }
  @media (max-width: 450px) {
    .secundo {
    height: 25vh !important;
    } 
    .secundo h2{
      transform: translateY(30px) !important;
    }
  }
  @media (max-width: 400px) {
    .secundo {
    height: 35vh !important;
  
    } 
  
  }
