.formContainer {
  background-color: #d7e3e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  position: relative;
  padding-bottom: 50vh;
  top: 0;
  height: 100%;
  z-index: 1;
  background-position: center;
  margin-top: 0;
}

.form {
  max-width: 650px;
  justify-content: center;
  align-items: center;
  display: contents;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  position: relative;

}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  margin-bottom: 30px;
}

.form button {
  margin: 20px;
  padding: 10px;
  width:200px;
  border: none;
  background:transparent;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: large;
  height:60px;
 
}

.form .intro {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: 200px;
  letter-spacing: 1.5px;
  line-height: 70px;
  width: 600px;
  margin-bottom: 20px;
}

.co {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  max-width: 450px;
  margin: 20px;
  margin-bottom: 80px;
}

.policy {
  text-align: center;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form input,
.form textarea {
  width: 600px;
  padding: 5px;
}
.form select{
  width: 610px;
    height:25px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media screen and (max-width: 830px) {
  .formContainer{
    padding-bottom: 30vh;
  }
  .form {
    max-width: 100%;
    padding: 10px;
  }
  .icons {
    
    gap:30px;
    margin-bottom: 10px;
  }
  .form .intro {
    font-size: 25px;
    margin-top: 100px;
    width: 70%;
    line-height: 40px;
  }

  .co {
    max-width: 100%;
    margin: 10px;
  }

  .policy {
    max-width:300px;
    margin-top: 10px;
    
  }

  .form input,
  .form textarea {
    width: 300px;
  }
  .form select{
    width:310px
  }
}
@media screen and (max-width: 390px) {
  .formContainer{
    padding-bottom: 20vh;
  }
  
  .form {
    max-width: 100%;
    padding: 10px;
  }
  .icons {
    
    gap:20px;
    margin-bottom: 10px;
  }
  .form .intro {
    font-size: 25px;
    margin-top: 100px;
    width: 70%;
  }
 
  .co {
    max-width: 80%;
    margin-bottom: 10px;
    font-size: smaller;
  }

  .policy {
    max-width:230px;
    margin-top: 10px;
  }

  .form input,
  .form textarea {
    width: 250px;
  }
  .form select{
    width:260px
  }
}
