.formContainer {
  background-color: #d7e3e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  position: relative;
  padding-bottom: 50vh;
  top: 0;
  height: 100%;
  z-index: 1;
  background-position: center;
  margin-top: 0;
}

.form {
  max-width: 650px;
  justify-content: center;
  align-items: center;
  display: contents;
  font-size: smaller;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form button {
  margin: 20px;
  padding: 10px;
}

.form .intro {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 200px;
  letter-spacing: 2px;
  line-height: 50px;
  max-width: 640px;
}

.co {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  max-width: 400px;
  margin: 20px;
}

.policy {
  text-align: center;
  max-width: 500px;
  margin-top: 20px;
}

.form input,
.form textarea {
  width: 650px;
  padding: 5px;
}
.form select{
  width: 660px;
    height:25px;
    padding: 5px;
}
@media screen and (max-width: 730px) {
  .form {
    max-width: 100%;
    padding: 10px;
  }

  .form .intro {
    font-size: 25px;
    margin-top: 100px;
    width: 100%;
  }

  .co {
    max-width: 100%;
    margin: 10px;
  }

  .policy {
    max-width: 100%;
    margin-top: 10px;
  }

  .form input,
  .form textarea {
    width: 300px;
  }
  .form select{
    width:310px
  }
}
